.dropdown.employer-jobs-list__dropdown.hidden-desktop
  .dropdown__button.employer-jobs-list__dropdown__button{ onclick: "dropdown.toggle()" }
    = selected || "Select"
  .dropdown__content
    = link_to 'Manage listings',
      employer_jobs_path,
      class: 'dropdown__link employer-jobs-list__dropdown__link'

    = link_to 'Your profile',
      edit_profile_path,
      class: 'dropdown__link employer-jobs-list__dropdown__link'

    = link_to 'Billing details',
      unity.edit_subscription_path,
      class: 'dropdown__link employer-jobs-list__dropdown__link'

%aside.side-nav
  %nav
    = link_to 'Your profile',
      edit_profile_path,
      class: 'side-nav__link'

    = link_to "Saved projects",
      favorite_jobs_path,
      class: "side-nav__link"

    = link_to 'Account settings',
      edit_user_registration_path,
      class: 'side-nav__link'

    = link_to 'Mangage listings',
      employer_jobs_path,
      class: 'side-nav__link'

    = link_to 'Notifications',
      edit_profile_notifications_path,
      class: 'side-nav__link'

    = link_to 'Billing details',
      unity.edit_subscription_path,
      class: 'side-nav__link'
