%aside.sidebar.hide-tablet-down
  %nav.sidebar__nav
    %h4.sidebar__nav__heading My Account
    %ul.sidebar__nav__menu
      %li{ class: "sidebar__nav__menu__item #{'-selected' if current_page?(main_app.edit_user_profile_path)}" }
        = link_to "Profile",
        main_app.edit_user_profile_path,
        class: "sidebar__nav__menu__item__link"
        - if current_user.has_talent_role?
          %span.label.-danger Apply
      %li.sidebar__nav__menu__item
        = link_to "Account settings",
        main_app.edit_user_registration_path,
        class: "sidebar__nav__menu__item__link"


    %h4.sidebar__nav__heading Job Listings
    %ul.sidebar__nav__menu
      %li{ class: "sidebar__nav__menu__item #{'-selected' if current_page?(main_app.employer_jobs_path)}" }
        = link_to "Manage listings",
        main_app.employer_jobs_path,
        class: "sidebar__nav__menu__item__link"
      %li{ class: "sidebar__nav__menu__item #{'-selected' if current_page?(main_app.favorite_jobs_path)}" }
        = link_to "Saved Job Listings",
            main_app.favorite_jobs_path,
            class: "sidebar__nav__menu__item__link"

    %h4.sidebar__nav__heading Subscription
    %ul.sidebar__nav__menu
      %li{ class: "sidebar__nav__menu__item #{'-selected' if current_page?(unity.edit_subscription_path)}" }
        = link_to "Billing details",
        unity.edit_subscription_path,
        class: "sidebar__nav__menu__item__link"
