= @user_profile.first_name
= @user_profile.last_name
= @user_profile.headline
= @user_profile.bio
= current_user.job_roles
= @user_profile.location
= current_user.work_experiences
= current_user.job_types
= current_user.social_media_profile.facebook
= current_user.social_media_profile.twitter
= current_user.social_media_profile.instagram
