.profile__content
  .secondary-heading
    Your Profile

  = form_for(resource,
    as: resource_name,
    url: registration_path(resource_name),
    html: { method: :put }) do |f|

    = devise_error_messages!

    - thumbnail = f.object.thumbnail_url
    = react_component("FileUpload", { thumbnail: thumbnail, resource: resource })

    .form_fields
      = render "personal_info", form: f

      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div Currently waiting confirmation for: #{resource.unconfirmed_email}

      = f.fields_for f.object.user_profile do |p|
        .form__field
          = p.label :location,
            class: "form__label"
          = p.text_field :location,
            class: "form__input"
        .form__field
          = p.label :website,
            class: "form__label"
          = p.text_field :website,
            class: "form__input"
        .form__field
          = p.label :bio,
            class: "form__label"
          = p.text_area :bio, rows: 10,
            class: "form__input"

      .form__field
        = f.label :password, "New Password",
          class: "form__label"
        = f.password_field :password, autocomplete: "off",
          class: "form__input"

      .form__field
        = f.label :password_confirmation,
          "New Password Confirmation",
          class: "form__label"
        = f.password_field :password_confirmation,
          autocomplete: "off",
          class: "form__input"
      .form__field
        = f.label :current_password,
          class: "form__label"
        = f.password_field :current_password,
          autocomplete: "off",
          class: "form__input"

      .submit-field.row
        = f.submit "Save",
          class: "button"
