= form.fields_for form.object.user_profile do |p|
  .form__double-field
    .form__half-field
      = p.label :first_name,
        class: "form__label"
      = p.text_field :first_name,
        class: "form__input"

    .form__half-field
      = p.label :last_name,
        class: "form__label"
      = p.text_field :last_name,
        class: "form__input"

.form__field
  = form.label :email,
    class: "form__label"
  = form.email_field :email,
    autofocus: true,
    autocomplete: "email",
    class: "form__input"
