= form.fields_for form.object.user_profile do |p|
  .row
    .text-field.small-6.columns.no-margin-bottom
      = p.label :first_name
      = p.text_field :first_name

    .text-field.small-5.columns.right.no-margin-bottom
      = p.label :last_name
      = p.text_field :last_name
.text-field.row
  = form.label :email
  = form.email_field :email, autofocus: true, autocomplete: 'email'
