= content_tag :div,
  class: "nested-fields",
  data: { new_record: form.object.new_record? } do

  %div
    = link_to "Remove",
      "#",
      data: { action: "click->nested-form#destroy" },
      :class => "button button--danger"
  = form.label :title,
    "Title",
    class: "label"
  = form.text_field :title,
    class: "input input_theme_normal registrations-edit__input"

  = form.label :company,
    "Company",
    class: "label"
  = form.text_field :company,
    class: "input input_theme_normal registrations-edit__input"


  =react_component('DatePickerDropdown',{label:'Start',name:'start',className:'registrations-edit__input'})

  =react_component('DatePickerDropdown',{label:'End',name:'end',className:'registrations-edit__input'})

  = form.check_box :current_role,
    class: "radio-button"
  = form.label :current_role,
    class: "radio-label"

  = form.hidden_field :_destroy
