- @title = "Account settings"
.page.profile-settings
  = render "employer/shared/sidebar"
  .page__main
    = render "form_errors", object: @user
    .page__content
      .profile-settings__content
        %h1.h1--small Account settings
        = form_for(resource,
          as: resource_name,
          url: registration_path(resource_name),
          html: { method: :put, class: "profile-settings__form" }) do |f|
          .form--field
            = f.label :email,
              "Email",
              class: "form--label -black -required"
            = f.email_field :email,
              class: "form--input -text-black"
          .form--field
            = f.label :password,
              "Password",
              class: "form--label -black -required"
            = f.password_field :password,
              placeholder: "********************",
              class: "form--input -text-black"
          .form--field
            = f.label :current_password,
              "Current password",
              class: "form--label -black -required"
            = f.password_field :current_password,
              placeholder: "********************",
              class: "form--input -text-black"
            = f.submit "Update password",
              class: "profile-settings__form__submit button -transparent -danger"
      %section
        %h1.profile-settings__sub-heading Notifications
        = form_for(current_user.user_profile,
          url: profile_notifications_path,
          html: { method: :put, class: "profile-settings__notification-form",
          data: { "form-submit-trigger-event": "change" } }) do |f|

          .form--field
            = f.label :update_notifications, class: "checkbox" do
              = f.check_box :update_notifications, class: ""
              .checkbox__indicator
              .checkbox__label Updates about new products and features

          .form--field
            = f.label :weekly_newsletter, class: "checkbox" do
              = f.check_box :weekly_newsletter, class: ""
              .checkbox__indicator
              .checkbox__label Get the weekly newsletter

      .div.profile-settings__close-account
        %button.button.-outline{ data:{ "micromodal-trigger": "confirm-close-account-modal" }} Close Account

= render "application/modals/confirm_close_account_modal"
