.align-center.forms
  .column.small-12.medium-6
    %h1
      Welcome

    .login-text
      Create an account to start your project

    = form_for(@user,
      as: resource_name,
      url: registration_path(resource_name)) do |f|

      .row
        = f.fields_for :user_profile, UserProfile.new do |p|
          .text-field.small-6.columns
            = p.label :first_name
            = p.text_field :first_name
          .text-field.small-5.columns
            = p.label :last_name
            = p.text_field :last_name
      .row
        .text-field
          = f.label :email
          = f.text_field :email
        .text-field
          = f.label :password
          = f.text_field :password
        .text-field
          = f.label :password_confirmation
          = f.text_field :password_confirmation

        / Role should be safe since it just determines views not security
        = f.fields_for :user_roles, UserRole.new do |r|
          = r.hidden_field :role_id, value: Role.find_by(name: "Employer").id

        .small-12.medium-3.columns.submit-field.last
          = f.submit "Continue"
