
.job
  .job__left-panel
    .job__preview-image{ class: [current_user.thumbnail.present? && "job__preview-image--avatar"] }
      - if @job.thumbnail.present?
        -# haml-lint:disable LineLength
        - image_class = @job.thumbnail.file_data.empty? ? "employer-job-card__image_empty" : "image_present"
        = image_tag @job.thumbnail_url, class: image_class
      - else
        = embedded_svg("empty_photo_state_icon_3x.svg")
    .job__button_group
      - if current_user.talent?
        = link_to  applied_fors_path(job_id: @job.id), method: :post do
          %span.button.button_theme_primary
            Apply for this gig
      - else
        %span.button.button_theme_primary.-disabled
          Apply for this gig
      %a{ href: job.company_website }
        %span.button.button_theme_white
          Website
      .job__social-links-list
        = render "jobs/social_links",
          job: job
    %hr.hidden-desktop
  .job__right-panel
    %h1.job__heading
      = job.name
    %h2.job__sub-heading
      = job.company_name

    .job__tags
      %button.button.button_theme_grey.job__tags__button
        = job.job_roles.first&.name
      %button.button.button_theme_grey.job__tags__button
        = job.job_types.first&.name
      %button.button.button_theme_grey.job__tags__button
        = job.job_locations.first&.name
        - if job.location
          %button.button.button_theme_grey.job__tags__button
            = job.location

    %hr.hidden-desktop
    %h3.job__description__header
      About the gig
    .job__description
      = job.description
    - if current_user.talent?
      = link_to  applied_fors_path(job_id: @job.id), method: :post do
        %span.button.button_theme_primary.job__button
          Apply for this gig
    - else
      %span.button.button_theme_primary.job__button.-disabled
        Apply for this gig
