.dropdown.dropdown_white.dropdown_desktop-hidden.jobs-list__dropdown{ onclick: "dropdown.toggle()" }
  .dropdown__button.dropdown__button_hidden
    = "All Role Types"
  .dropdown__content.dropdown__content_inline-buttons
    = link_to "Full Time",
      "#",
      class: "dropdown__link dropdown__link_button",
      remote: true

    = link_to "Part Time",
      "#",
      class: "dropdown__link dropdown__link_button",
      remote: true

    = link_to "Contract",
      "#",
      class: "dropdown__link dropdown__link_button",
      remote: true

    = link_to "Freelance",
      "#",
      class: "dropdown__link dropdown__link_button",
      remote: true
