.dropdown.dropdown_white.jobs-list__dropdown
  .dropdown__button{ onclick: 'dropdown.toggle()' }
    = 'All Creative Types'
  .dropdown__content
    = link_to 'Design',
      employer_jobs_path,
      class: 'dropdown__link'

    = link_to 'Development',
      edit_user_registration_path,
      class: 'dropdown__link'

    = link_to 'Marketing',
      edit_employer_billing_path,
      class: 'dropdown__link'

    = link_to 'Photography',
      edit_employer_billing_path,
      class: 'dropdown__link'
