.forgot-password
  = form_for(resource,
    as: resource_name, url: password_path(resource_name),
    html: { method: :put, class: "form" }) do |f|
    = devise_error_messages!
    = f.hidden_field :reset_password_token
    .form--field
      = f.label :password, "New password", class: "form--label"
      = f.password_field :password, autofocus: true, autocomplete: "off", class: "form--input"
    .form-field
      = f.label :password_confirmation, "Confirm new password", class: "form--label"
      = f.password_field :password_confirmation, autocomplete: "off", class: "form--input"
    .forgot-password__actions
      = f.submit "Change password", class: "button -no-radius"
