.small-12.columns.job-card{ class: job_border_color(job) }
  = link_to "#", class: "small-12 medium-9 columns" do
    .job-card__description
      %span.job-card__company-name= job.company_name
      is looking for a
      %span.job-card__name= job.name
    .visible-for-medium-up
      .job-card__attributes
        = job.location

  .small-12.medium-3.columns.job-card__right-panel
    = form_tag favorite_jobs_path, class: "right" do
      = hidden_field_tag :job_id, job.id
      = button_tag type: "submit", class: "job-card__links" do
        = embedded_svg("save-inactive.svg")
