= form_for(current_user,
  url: user_profile_path,
  html: { method: action, class: "form profile__form" }) do |f|

  = render("application/form_errors", object: current_user)

  = photo_uploader_field f.object
  = render "user_profile_form", form: f
  = render "preferences_and_skills_form", form: f
  = render "work_experience_form", form: f
  = render "social_media_links_form", form: f

  = f.submit "Save changes",
    class: "button",
    id: "edit-profile"
