= form_for(current_user,
  url: user_profile_path,
  html: { method: action, class: "form profile__form", data: { "form-validator-trigger": true } }) do |f|

  = render("application/form_errors", object: current_user)

  = photo_uploader_field f.object
  = render "user_profile_form", form: f
  = render "preferences_and_skills_form", form: f
  = render "work_experience_form", form: f
  = render "social_media_links_form", form: f

  = f.button "Submit your profile for review",
      value: "pending",
      name: "user[user_profile_attributes][status]",
      type: "submit",
      class: "profile__form__submit-button button",
      id: "edit-profile"
  = f.button "Save for later",
      value: "draft",
      name: "user[user_profile_attributes][status]",
      type: "submit",
      class: "profile__form__save-later-button button",
      data: { "form-skip-validate-required": true },
      id: "edit-profile"
