%section.profile__form__preferences-section
  %h1.h1--small Preferences and skills

  .profile__form__skills
    = form.label :job_role_ids, "Where do you want to work?", class: "form--label -black -required"
    .profile__form__skills__list
      = form.collection_radio_buttons(:job_types,
        JobRole.all,
        :id,
        :name,
        { checked: current_user.job_roles.first&.id }) do |jr|
        %span.form--radio-button
          = jr.radio_button
          = jr.label

    
        
  .profile__form__skills
    = form.label :job_role_ids, "What type of Creative are you?", class: "form--label -black -required"
    .profile__form__skills__list
      = form.collection_radio_buttons(:job_role_ids,
        JobRole.all,
        :id,
        :name,
        { checked: current_user.job_roles.first&.id }) do |jr|
        %span.form--radio-button
          = jr.radio_button
          = jr.label

  .profile__form__skills
    = form.label :job_experiences, "Experience Level", class: "form--label -black -required"
    .profile__form__skills__list
      = form.collection_radio_buttons(:job_experience_ids,
        JobExperience.all,
        :id,
        :name,
        { checked: current_user.job_experiences.first&.id }) do |jt|
        %span.form--radio-button
          = jt.radio_button
          = jt.label
  .profile__form__skills
    = form.label :job_types, "What type(s) of work are you interested in?", class: "form--label -black -required"
    .profile__form__skills__list
      = form.collection_radio_buttons(:job_type_ids,
        JobType.all,
        :id,
        :name,
        { checked: current_user.job_types.first&.id }) do |jt|
        %span.form--radio-button
          = jt.radio_button
          = jt.label(class: "form--radio-button")
  .profile__form__rate      
    %span.form--label.-black What’s your rate range?*
    = react_component("RateRange", options: rate_range_options, name: "user[rate_range_id]", default_value: current_user&.rate_range_id )
  = render "skills_form", form: form
