.registrations-edit__sub-heading
  Links

= form.fields_for :social_media_profile,
  current_user.social_media_profile || SocialMediaProfile.new do |p|
  .registration-page--link-section
    = p.label :website,
      'Website *',
      class: 'label'
    = p.text_field :website,
      class: 'input input_theme_normal registrations-edit__input'

    = p.label :twitter,
      'Twitter *',
      class: 'label'
    = p.text_field :twitter,
      class: 'input input_theme_normal registrations-edit__input'

    = p.label :facebook,
      'Facebook *',
      class: 'label'
    = p.text_field :facebook,
      class: 'input input_theme_normal registrations-edit__input'

    = p.label :instagram,
      'Instagram *',
      class: 'label'
    = p.text_field :instagram,
      class: 'input input_theme_normal registrations-edit__input'
