%section.profile__form__social-section
  %h1.h1--small Social Links

  = form.fields_for :social_media_profile,
    current_user.social_media_profile || SocialMediaProfile.new do |p|
    .form--field
      = p.label :website,
        "Website",
        class: "form--label -black"
      = p.text_field :website,
        "data-validate-rule":"url",
        class: "form--input",
        id: "user-website"

    .form--field
      = p.label :twitter,
        "Twitter",
        class: "form--label -black"
      = p.text_field :twitter,
        "data-validate-rule":"url",
        class: "form--input",
        id: "user-twitter"

    .form--field
      = p.label :facebook,
        "Facebook",
        class: "form--label -black"
      = p.text_field :facebook,
        "data-validate-rule":"url",
        class: "form--input",
        id: "user-facebook"

    .form--field
      = p.label :instagram,
        "Instagram",
        class: "form--label -black"
      = p.text_field :instagram,
        "data-validate-rule":"url",
        class: "form--input",
        id: "user-instagram"

    