%section.profile__form__info-section
  = form.fields_for :user_profile,
    current_user.user_profile || UserProfile.new do |p|
    .form--field.profile__form__field
      = p.label :first_name,
        "First Name",
        class: "form--label -black -required"
      = p.text_field :first_name,
        "data-required":true,
        class: "form--input",
        placeholder: "Add..."
    .form--field
      = p.label :last_name,
        "Last Name",
        class: "form--label -black -required"
      = p.text_field :last_name,
        "data-required":true,
        class: "form--input"
    .form--field.profile__form__field.-full
      = p.label :headline,
        "Headline",
        class: "form--label -black"
      = p.text_field :headline,
        class: "form--input",
        placeholder:"Add..."
    .form--field.profile__form__field.-full.-editor
      = p.label :bio,
        "About",
        class: "form--label -black -required"
      = p.rich_text_area :bio,
        "data-required":true,
        class: "form--textbox"
    .form--field.profile__form__field.-full
      = p.label :location,
        "Current Location",
        class: "form--label -black -required"
      = p.text_field :location,
        "data-required":true,
        class: "form--input"
