.profile-page__user-info
  %h1.heading.heading--xlarge.heading--color-grey
    = user_profile.first_name
    = user_profile.last_name
  %h3.profile-page__user-info__headline
    = user_profile.headline
  %p.profile-page__user-info__bio
    = user_profile.bio
  = render('user_profiles/job_roles')
  %hr
  = render('user_profiles/work_experience')
  %hr
  .profile-page__work-preferences
    %h4.profile-page__heading
      Work Preferences
    = render('user_profiles/job_types')
  %hr
  .profile-page__skills
    %h4.profile-page__heading
      Skills
