.sub-header.hidden-mobile
.profile-page
  .profile-page__left-section
    .profile-page__image{class: [current_user.thumbnail.present? && "profile-page__image--avatar"] }
      - if current_user.thumbnail.present?
        - image_class = current_user.thumbnail.present? ? '' : 'profile-page__image--preset'
        = image_tag current_user.thumbnail_url, class: image_class
      - else
        = embedded_svg('empty_photo_state_icon_3x.svg')
    %section.profile-page__detail-section.hidden-mobile
      %h1.heading.heading--xlarge.heading--color-grey.text-center
        = @user_profile.first_name
        = @user_profile.last_name
      %h3.profile-page__user-info__headline.text-center
        = @user_profile.headline
        %span.profile-page__detail-section__location
          = @user_profile.location
    .buttons-group.profile-page__buttons-group
      %a{ href: '#' }
        %span.button.button_theme_primary
          Start conversation

      %a{ href: current_user.social_media_profile&.website }
        %span.button.button_theme_white
          Website
      .profie-page_social-list
        = render 'user_profiles/social_links'
    %hr.hidden-desktop
  .profile-page__right-section
    = render 'user_profiles/user_data',
      user_profile: @user_profile
