- item_class = "sidebar__nav__menu__item"
- manage_listing_path = current_user.paying_subscriber? ? main_app.employer_jobs_path : unity.new_subscription_path

%h4.sidebar__nav__heading Job Listings
%ul.sidebar__nav__menu
  %li{ class: "#{item_class} #{'-selected' if current_page?(manage_listing_path)}" }
    = link_to manage_listing_path,
      class: "sidebar__nav__menu__item__link" do
      Manage Listings
      - if !current_user.paying_subscriber?
        %span.label.-danger.sidebar__nav__upgrade Upgrade
  - if Protocols::CanViewJobBoard.allow?(current_user)
    %li{ class: "#{item_class} #{'-selected' if current_page?(main_app.favorite_jobs_path)}" }
      = link_to "Saved Job Listings", main_app.favorite_jobs_path,
      class: "sidebar__nav__menu__item__link"
