%aside.sidebar.hide-desktop-down
  %nav.sidebar__nav
    = render "application/account_sidebar/my_account_menu"
    = render "application/account_sidebar/listing_menu"
    - if !current_user.talent?
      = render "application/account_sidebar/subscription_menu"

.mobile-sidebar__container.hidden.hide-desktop-up#mobile-sidebar__container
  %aside.mobile-sidebar
    %nav.mobile-sidebar__nav
      = render "application/account_sidebar/mobile_my_account_menu"
      = render "application/account_sidebar/mobile_listing_menu"
      - if !current_user.talent?
        = render "application/account_sidebar/mobile_subscription_menu"
      %ul.mobile-sidebar__nav__menu
        %li{ class: "mobile-sidebar__nav__menu__item #{'-selected' if current_page?(main_app.employer_jobs_path)}" }
          = link_to "Sign Out",
          main_app.destroy_user_session_path,
          class: "mobile-sidebar__nav__menu__item__link"

