= form_for(job,
  url: employer_jobs_path(job),
  html: { id: "braintree-payment-form",
  "data-validate": "data-validate",
  "no-validate": "no-validate" }) do |f|

  = render "project_details", f: f, job: job

  / pass stripe plans here
  = react_component("SubscriptionPlans", { plans: Unity::SubscriptionPlan.all })

  - if current_user.gateway_customer_id.nil?
    = react_component("PaymentForm", { token: token })

  .secondary-heading
    Contact Details

  = render "contact_details", f: f

  .small-12.medium-3.columns.submit-field.last
    = f.submit "Start a project"
