= form_for(job,
  url: employer_jobs_path(job),
  html: { id: "stripe-payment-form",
  "data-validate": "data-validate",
  "no-validate": "no-validate" }) do |f|

  = render "project_details", f: f, job: job

  - if show_plan_list?
    = react_component("SubscriptionPlans", { plans: SubscriptionPlan.all })

  - if show_payment_form?
    .secondary-heading
      Payment Details
    .text-field
      = react_component("StripeInitializer", { apiKey: ENV.fetch("STRIPE_PUBLISHABLE_KEY") })

      %span.instructions We reserve the right to remove jobs at our discretion.  Aside from jobs we remove, listings can not be refunded.  All prices are USD.

  .small-12.medium-3.columns.submit-field.last
    = f.submit "Start a project"

%script{ src: "https://js.stripe.com/v3/" }
