= form_for(job,
  url: employer_job_path(job),
  method: :put) do |f|
  = render 'form_errors', object: job
  = render 'project_details', f: f, job: job

  .create-listing-page__submit-buttons
    = f.submit 'Save',
      class: 'button button_theme_primary create-listing-page__button'

    %a{ href: '#' }
      %button.button.button_theme_white.create-listing-page__button
        = link_to 'Cancel', employer_jobs_path
