= form_for(job,
  url: employer_job_path(job),
  method: :put,
  data: { "form-validator-trigger": true },
  html: { "no-validate": "no-validate", multipart: true }) do |f|

  = render "form_errors", object: job
  = render "project_details", f: f, job: job

  .create-listing-page__submit-buttons
    = f.button "Preview Listing",
      name: "job[status]",
      type: "submit",
      value: "preview",
      class: "button"

    = f.button "Save for Later",
      class: "button -outline-dark",
      data: { "form-skip-validate-required": true },
      name: "job[status]",
      type: "submit",
      value: "draft"
