= form_for(job,
  url: employer_jobs_path(job),
  html: { id: "braintree-payment-form",
  "data-validate": "data-validate",
  "no-validate": "no-validate" }) do |f|

  = hidden_field_tag :payment_method_nonce
  = render "project_details", f: f

  = render "unity/subscriptions/plan_options"
  = render "unity/payment_method/card_details"

  .secondary-heading
    Contact Details

  = render "contact_details", f: f

  .small-12.medium-3.columns.submit-field.last
    = f.submit "Start a project"
