.employer-job-card
  = render "image", resource: job
  .employer-job-card__titles
    .employer-job-card__header= job.name
    .employer-job-card__company-name= job.company_name

  .employer-job-card__types
    - job.job_types.each do |type|
      .employer-job-card__type-mark= type.name

  .employer-job-card__button-list
    %button.employer-job-card__button
      = link_to "Archive",
        employer_job_archive_path(job.id),
        method: :put,
        class: ""
    %a{ href: edit_employer_job_path(job.id) }
      %button.employer-job-card__button
        Edit
