.job-card.mb-15
  .job-card__header
    = render "image", resource: job
    .job-card__title-section
      .job-card__header__title= job.name
      .job-card__header__sub-title= job.company_name

  .job_card__footer
    .job-card__types
      - job.job_roles.each do |role|
        .job-card__type-mark= role.name
      - job.job_types.each do |type|
        .job-card__type-mark= type.name
      - job.job_experiences.each do |experience|
        .job-card__type-mark= experience.name
      - job.job_locations.each do |location|
        .job-card__type-mark= location.name


    .job-card__actions
      - if !job.archived?
        = link_to "Archive",
          employer_job_archive_path(job.id),
          method: :put,
          class: "job-card__action"

      = link_to "Edit",
        edit_employer_job_path(job.id),
        class: "job-card__action"
      - if job.published_with_applicants?
        = link_to "Applicants", main_app.employer_jobs_path(applicants_for_job_id: job.id ), class: 'job-card__action'


