- thumbnail = f.object.thumbnail_url
= react_component("shared/FileUpload/index", { thumbnail: thumbnail, resource: job, type: "job", name:"job[thumbnail_attributes][file]", upload:false })
.role-company-inputs
  .job-name.create-listing-page__input
    = f.label :name, "Role Title *", class: "label"
    = f.text_field :name,
      class: "input",
      id: "role",
      onfocusout: "listingPage.validatePresence('#role')"
    .error-message#role-error

  .company-name.create-listing-page__input
    = f.label :company_name, "Company Name *", class: "label"
    = f.text_field :company_name,
      class: "input",
      id: "company_name",
      onfocusout: "listingPage.validatePresence('#company_name')"
    .error-message#company_name-error

= f.label :description, "Job Description *", class: "label"
= f.rich_text_area :description,
  class: "text-area create-listing-page__text-area",
  id: "description",
  onfocusout: "listingPage.validatePresence('#description')"
.error-message#description-error

= f.label :job_type_ids, "Type of Creative *", class: "label"
.create-listing-page__radio-button-list
  = f.collection_radio_buttons(:job_role_ids,
    JobRole.all,
    :id,
    :name,
    { checked: job.job_roles.first&.id }) do |jr|
    = jr.radio_button(class: "create-listing-page__radio-button job_role")
    = jr.label(class: "create-listing-page__radio-label")
.error-message#job_role-error

= f.label :job_roles, "Type of role *", class: "label"
.create-listing-page__radio-button-list
  = f.collection_radio_buttons(:job_type_ids,
    JobType.all,
    :id,
    :name,
    { checked: job.job_types.first&.id }) do |jt|
    = jt.radio_button(class: "create-listing-page__radio-button job_type")
    = jt.label(class: "create-listing-page__radio-label")
.error-message#job_type-error

= f.label :job_experiences, "Preferred Experience Level *", class: "label"
.create-listing-page__radio-button-list
  = f.collection_radio_buttons(:job_experience_ids,
    JobExperience.all,
    :id,
    :name,
    { checked: job.job_experiences.first&.id }) do |jt|
    = jt.radio_button(class: "create-listing-page__radio-button job_experience")
    = jt.label(class: "create-listing-page__radio-label")
.error-message#job_experience-error

= f.label :location, "Location *", class: "label"
= f.text_field :location,
  class: "input create-listing-page__input",
  placeholder: "City and State",
  id: "location",
  onfocusout: "listingPage.validatePresence('#location')"
.error-message#location-error

= f.label :remote, "Can this role be remote? *", class: "label"
.create-listing-page__remote-options
  = f.radio_button :remote, true, class: "create-listing-page__radio-button job_remote"
  = f.label :remote, "Yes",
    for: "job_remote_true",
    class: "create-listing-page__radio-label"

  = f.radio_button :remote, false, class: "create-listing-page__radio-button job_remote"
  = f.label :remote, "No",
    for: "job_remote_false",
    class: "create-listing-page__radio-label"
  .error-message#job_remote-error


.sub-heading.create-listing-page__sub-heading
  Links
.create-listing-page__input
  = f.label :company_website, "Website *", class: "label"
  = f.text_field :company_website,
    class: "input",
    placeholder: "http://www.website.com",
    id: "company_website",
    onfocusout: "listingPage.validateLink('#company_website')"
  .error-message#company_website-error
.create-listing-page__input
  = f.label :twitter, "Twitter *", class: "label"
  = f.text_field :twitter,
    class: "input create-listing-page__input",
    placeholder: "http://www.twitter.com/username",
    id: "twitter",
    onfocusout: "listingPage.validateLink('#twitter')"
  .error-message#twitter-error

.create-listing-page__input
  = f.label :facebook, "Facebook *", class: "label"
  = f.text_field :facebook,
    class: "input create-listing-page__input",
    placeholder: "http://www.facebook.com/username",
    id: "facebook",
    onfocusout: "listingPage.validateLink('#facebook')"
  .error-message#facebook-error
.create-listing-page__input
  = f.label :instagram, "Instagram *", class: "label"
  = f.text_field :instagram,
    class: "input create-listing-page__input",
    placeholder: "http://www.instagram.com/username",
    id: "instagram",
    onfocusout: "listingPage.validateLink('#instagram')"
  .error-message#instagram-error
