.text-field
  = f.label :name, "Job Title"
  = f.text_field :name
.row
  .text-field.small-6.columns
    = f.label :company_name
    = f.text_field :company_name
  .text-field.small-5.columns
    = f.label :company_website
    = f.text_field :company_website

.text-field
  = f.label :job_roles, "Role"

= f.collection_radio_buttons(:job_role_ids,
  JobRole.all,
  :id,
  :name_with_description,
  { checked: job.job_roles.first&.id }) do |jr|
  .text-field.radio-label
    = jr.label do
      = jr.radio_button + raw(jr.text)
      /%span.instructions= jt.description

.text-field
  = f.label :job_type_ids, "Job Type"
= f.collection_radio_buttons(:job_type_ids,
  JobType.all,
  :id,
  :name_with_description,
  { checked: job.job_types.first&.id }) do |jt|
  .text-field.radio-label
    = jt.label do
      = jt.radio_button + raw(jt.text)

.row
  .text-field
    = f.label :experience
    .small-2.columns.no-padding.picker
      = f.select :experience, 0..20, include_blank: "0+"
    %span.instructions.small-10.columns
      Select years of experience preferred

.text-field
  = f.label :location
  = f.text_field :location
.text-field.radio-label
  = f.label :remote do
    = f.check_box :remote
    %span Is this a remote position?
    %span.instructions
      This job can be done offsite

.text-field
  = f.label :world_changing_text, "How are you changing the world?"
  = f.text_area :world_changing_text, rows: 10

.text-field
  = f.label :description, "Job Description"
  = f.text_area :description, rows: 10
