- thumbnail = f.object.thumbnail_url
= react_component("JobLogoUploader",
 { thumbnail: thumbnail, name: "job[thumbnail_attributes][file]" },
 { class: "listing-page__logo-uploader" })

.listing-form__row
  .form--field
    = f.label :name, "Job title", class: "form--label -black -required"
    = f.text_field :name,
      "data-required": "true",
      maxlength: "100",
      class: "form--input"

  .form--field
    = f.label :company_name, "Company", class: "form--label -black -required"
    = f.text_field :company_name,
      "data-required": "true",
      maxlength: "100",
      class: "form--input"

.form--field.-editor
  = f.label :description, "Job description", class: "form--label -black -required"
  = f.rich_text_area :description,
    "data-required": true,
    class: "form--textbox"

.form--field.mt-35
  = f.label :job_type_ids, "Type of skills", class: "form--label -black -required"
  .form--radio-list.form--radio-button-list
    = f.collection_radio_buttons(:job_role_ids,
      JobRole.all,
      :id,
      :name,
      { checked: job.job_roles.first&.id },) do |jr|
      %span.form--radio-button
        = jr.radio_button({ "data-required": true, "data-validation-message": "At least one is required.", "data-value": job.job_roles.first&.id  })
        = jr.label


.form--field.mt-35
  = f.label :job_roles, "Type of role", class: "form--label -black -required"
  .form--radio-list.form--radio-button-list
    = f.collection_radio_buttons(:job_type_ids,
      JobType.all,
      :id,
      :name,
      { checked: job.job_types.first&.id }) do |jt|
      %span.form--radio-button
        = jt.radio_button({ "data-required": true, "data-validation-message": "At least one is required.", "data-value": job.job_types.first&.id  })
        = jt.label

.form--field.mt-35
  = f.label :job_experiences, "Preferred Experience Level", class: "form--label -black -required"
  .form--radio-list.form--radio-button-list
    = f.collection_radio_buttons(:job_experience_ids,
      JobExperience.all,
      :id,
      :name,
      { checked: job.job_experiences.first&.id }) do |jt|
      %span.form--radio-button
        = jt.radio_button({ "data-required": true, "data-validation-message": "At least one is required.", "data-value": job.job_experiences.first&.id  })
        = jt.label

.form--field.mt-35
  = f.label :job_location_ids, "Job location", class: "form--label -black -required"
  .form--radio-list.form--radio-button-list
    = f.collection_radio_buttons(:job_location_ids,
      JobLocation.all,
      :id,
      :name,
      { checked: job.job_locations.first&.id }) do |jt|
      %span.form--radio-button
        = jt.radio_button({ "data-required": true, "data-validation-message": "At least one is required.", "data-value": job.job_locations.first&.id })
        = jt.label


.form--field
  = f.label :location, "Preferred location or timezone", class: "form--label -black -required"
  = f.text_field :location,
    "data-required": "true",
    maxlength: "100",
    class: "form--input",
    placeholder: "Add..."

%h2.listing-page__sub-heading Social Links
.form--field
  = f.label :company_website, "Website", class: "form--label -black"
  = f.text_field :company_website,
    "data-validate-rule":"url",
    maxlength: "100",
    class: "form--input",
    placeholder: "Add..."
.form--field
  = f.label :twitter, "Twitter", class: "form--label -black"
  = f.text_field :twitter,
    "data-validate-rule":"url",
    maxlength: "100",
    class: "form--input",
    placeholder: "Add..."

.form--field
  = f.label :facebook, "Facebook", class: "form--label -black"
  = f.text_field :facebook,
    "data-validate-rule":"url",
    maxlength: "100",
    class: "form--input",
    placeholder: "Add..."
.form--field
  = f.label :instagram, "Instagram", class: "form--label -black"
  = f.text_field :instagram,
    "data-validate-rule":"url",
    maxlength: "100",
    class: "form--input",
    placeholder: "Add..."
