- @title = "Manage Listings"
.page.manage-listings
  = render "application/account_sidebar/sidebar"
  %div.page__main.manage-listings__content
    = render("application/form_errors", object: current_user)

    -if @jobs.empty?
      = render "empty_placeholder"
    -else
      = render "jobs", jobs: @jobs.published, title: "Active job listings"
      = render "jobs", jobs: @jobs.draft + @jobs.preview, title: "Draft job listings"
      = render "jobs", jobs: @jobs.archived, title: "Archived job listings"
