.admin-container.employer-jobs-list
  .employer-jobs-list__left-column
    = render "employer/shared/links",
      selected: @view_component.header

  .employer-jobs-list__right-column
    .employer-admin-header
      .employer-jobs-list__header
        = @view_component.header
      %a{ href: new_employer_job_path }
        %button.button.button_theme_primary.employer-jobs-list__button
          Post a listing
    %h2
      Preview
    = render "jobs", jobs: @view_component.preview
    %h2
      Published
    = render "jobs", jobs: @view_component.published
    %h2
      Archived
    = render "jobs", jobs: @view_component.archived
/= link_to "Subscribe", unity.new_subscription_path
/= render "shared/screen_modal"
