.page.employer-jobs-list
  = render "application/account_sidebar/sidebar"
  %div.page__main
    = render("application/form_errors", object: current_user)

    .employer-jobs-list__heading.h1--small
      Active job listings
    = render "jobs", jobs: @jobs.published
    .employer-jobs-list__heading.h1--small
      Draft job listings
    = render "jobs", jobs: @jobs.preview
    .employer-jobs-list__heading.h1--small
      Archived job listings
    = render "jobs", jobs: @jobs.archived
