%div
  %div
  .subscription-details__plan
    %span.subscription-details__plan-title Unlimited Monthly subscription
    %span.subscription-details__plan-price $149/mo
    %p.subscription-details__plan-description Post unlimited projects on the Gig board every month. Cancel anytime.
      
  %hr

  .subscription-details__total
    %span Total today
    %span $149

  .page-heading
    Payment Details

  = form_for :subscription,
    url: unity.subscription_path,
    method: :create,
    html: { id: "braintree-payment-form",
    "data-validate": "data-validate",
    "no-validate": "no-validate" } do |f|

    = hidden_field_tag :authenticity_token, form_authenticity_token
    = hidden_field_tag :plan_id, "heyfam_unlimited_monthly"

    .form__centered
      = render "unity/payment_method/card_details", f: f

    .subscription-details__terms-text
      All sales are final and all prices are USD

    = f.submit "Get started",
      class: "button button_theme_primary",
      data: { disable_with: "Please wait..." }
