-# haml-lint:disable all
-# rubocop:disable all
- @title = "Billing Details"
- view_component = Employer::BillingComponent.new(current_user)
.page
  = render "employer/shared/sidebar",
    selected: "Billing details"

  %div.page__main
    .page__content
      .subscription__details
        %h1.page-heading Billing details
        %div
          %h3.subscription__details__name #{view_component.current_plan_name} subscription
          %span.subscription__details__price $#{view_component.current_plan_price}/mo
        %p.subscription__details__desc Post unlimited projects or listings on the job board every month.  Cancel any time.
        - if view_component.cancelled_at.present?
          %div
            %span.renewal-message.expiration-date Expires on
            %span= view_component.expiration_date
        %hr
        %div
          %h3.subscription__details__name Total subscription
          %span.subscription__details__price $#{view_component.current_plan_price}/mo

      %h3.subscription--edit__heading Payment details
      .subscription__card-summary.-outline#cardSummary

        %span.subscription__card-summary__card-type= view_component.card_brand
        %span.subscription__card-summary__card-number **** **** **** #{view_component.card_last4}
      %button.subscription__change-payment-method#change-payment-method
        Change payment method
      .subscription__payment-method-form
        = form_for :payment_method,
          url: unity.payment_method_path,
          method: :put,
          html: { id: "braintree-payment-form",
          class: "subscription--edit__form #{view_component.gateway_subscription ? "hidden" : ""}",
          "data-validate": "data-validate",
          "no-validate": "no-validate" } do |f|
          .subscription__card-details#cardDetails
            = render "unity/payment_method/card_details", f: f
            = f.submit "Update Payment Method",
              data: { disable_with: "Please wait..." },
              class: "button button_theme_white update-button"
        - if view_component.awaiting_cancellation?
          Your subscription is set to cancel on #{view_component.cancelled_at}. If you would like to resume your subscription...
        - elsif view_component.active_subscription?
          = react_component("CancelSubscriptionModal", { apiPath: subscription_delete_path })

