-# haml-lint:disable all
-# rubocop:disable all

- plan = Unity::SubscriptionPlan.find_by(gateway_id: SubscriptionPlan::UNLIMITED)

- @title = "Billing Details"
- view_component = Employer::BillingComponent.new(current_user)
.page
  = render "application/account_sidebar/sidebar"

  %div.page__main
    .page__content
      .subscription__details
        %h1.page-heading Billing details
        %div
          %h3.subscription__details__name Unlimited monthly subscription
          %span.subscription__details__price $#{view_component.price}/mo
        %p.subscription__details__desc Post unlimited projects or listings on the job board every month.  Cancel any time.
        - if view_component.subscription.canceled_at.present?
          %div.subscription__details__renewal-message
            %span Expires on
            %span= view_component.expiration_date
        %hr
        %div
          %h3.subscription__details__name Total subscription
          %span.subscription__details__price $#{view_component.price}/mo

      %h3.subscription--edit__heading Payment details
      .subscription__card-summary.-outline#cardSummary

        %span.subscription__card-summary__card-type= view_component.card_brand
        %span.subscription__card-summary__card-number **** **** **** #{view_component.card_last4}
      %button.subscription__change-payment-method#change-payment-method
        Change payment method
      .subscription__payment-method-form
        = form_for :payment_method,
          url: unity.payment_method_path,
          method: :put,
          html: { id: "braintree-payment-form",
          class: "subscription--edit__form #{view_component.subscription ? "hidden" : ""}",
          "data-validate": "data-validate",
          "no-validate": "no-validate" } do |f|
          .subscription__card-details#cardDetails
            = render "unity/payment_method/card_details", f: f
            = f.submit "Update Payment Method",
              data: { disable_with: "Please wait..." },
              class: "button button_theme_white update-button"
        - if view_component.subscription.present?
          .subscription__details__footer
            - if @subscription.pending_cancellation?
              = link_to "Resume subscription",
                subscription_path(plan_id: plan.gateway_id),
                method: :put,
                class: 'button',
                data: { disable_with: 'Please wait...'}
            - else
              %button.button.-outline{ data:{ "micromodal-trigger": "cancel-subscription-modal" }} Cancel subscription

= render "application/modals/cancel_subscription_modal"
