.subscription
  = render "unity/subscriptions/details"
  %section.subscription__paymemnt
    %h1.h1--small Subscription details

    .subscription__paymemnt__content
      .subscription__paymemnt__content__title
        %span.subscription-text.text.-link= Unity::SubscriptionPlan.first.name
        %span.subscription-text.text $#{Unity::SubscriptionPlan.first.price}/month
      %p.subscription__paymemnt__content__description= Unity::SubscriptionPlan.first.description
    .subscription__paymemnt__total
      %span.text.subscription-text Total today
      %span.text.subscription-text $#{Unity::SubscriptionPlan.first.price}

    = render "unity/subscriptions/payment_details"
