.page.employer-profile
  .sub-header.hidden-mobile
  .page__main.employer-profile__wrapper
    %section.employer-profile__hero-section
      .employer-profile__image
        - if @profile.user.thumbnail.present?
          = image_tag @profile.user.thumbnail_url
        - else
          = embedded_svg("empty_photo_state_icon_3x.svg")
      - name = "#{@profile.first_name} #{@profile.last_name}"
      .employer-profile__name
        = name
      .employer-profile__location
        = @profile.location
      .employer-profile__headline
        = @profile.headline

      .employer-profile__buttons-group
        .employer-profile__message-button
          %button.button{ data:{ "micromodal-trigger": "send-message-modal" }} Send a message

        .button.-white.employer-profile__website-button
          %a{ href: @profile.user.social_media_profile&.website }
            Website

      .employer-profile__social-links
        = render "user_profiles/social_links"

    .employer-profile__right-section
      %section
        .employer-profile__details-wrapper
          .employer-profile__heading
            About
          .employer-profile__bio
            = @profile.bio[:body]
          - @profile.user.job_roles.each do |role|
            .employer-profile__role
              .details
                = role.name

      %section
        .employer-profile__details-wrapper
          .employer-profile__heading.-work-experience
            Work Experience
          .employer-profile__work-experiences
            - @profile.user.work_experiences.each do |we|
              .employer-profile__work-experience
                = we.title
                .employer-profile__work-experience__date
                  = "#{we.start&.strftime("%b %Y")} - #{we.current_role? ? "Current Role" : we.end&.strftime("%b %Y")}"

      %section
        .employer-profile__details-wrapper
          .employer-profile__heading.-work-preferences
            Work Preferences
          - @profile.user.job_types.each do |type|
            .employer-profile__role
              .details
                = type.name

      %section
        .employer-profile__details-wrapper
          .employer-profile__heading.-skills
            Skills
          - @profile.user.skills.each do |skill|
            .employer-profile__role
              .details
                = skill

= render "application/modals/send_message_modal"