.align-center.align-vertical.forms
  .column.small-12.medium-5
    %h1
      Welcome Back

    .login-text
      Sign in to access your account

    = form_for resource,
      as: resource_name,
      url: session_path(resource_name) do |f|

      .text-field
        = f.label :email
        = f.text_field :email
      .text-field.last
        = f.label :password
        = f.password_field :password

      .submit-field
        = f.submit "Continue"
