.sign-in
  %h1 Welcome Back

  = form_for resource,
    as: resource_name,
    url: session_path(resource_name) do |f|

    .form
      .form--field
        = f.label :email,
          class: "form--label"
        = f.text_field :email,
          class: "form--input",
          onfocusout: "validateEmail();"
        .error-message
      .form--field
        = f.label :password,
          class: "form--label"
        = f.password_field :password,
          class: "form--input",
          onfocusout: "validatePassword();"
        .error-message

    = f.submit "Log in",
      class: "button"

  .sign-in__footer
    = link_to "Forgot password?", new_user_password_path,
      class: "text -link"

    .sign-in__footer__text.text.-base.hide-desktop-up
      Don't have an account?
      = link_to "Sign up",
        new_user_registration_path,
        class: "text -link"
