.align-center.align-vertical.row.forms
  .small-12.medium-8.columns.wrapper
    .row.align-center.align-vertical
      .column.small-12
        .row.align-center
          .column.small-12.medium-8
            %h1
              Welcome Back

            = form_for resource,
              as: resource_name,
              url: session_path(resource_name) do |f|

              .text-field
                = f.text_field :email, placeholder: "*Email or Username"
              .text-field
                = f.password_field :password, placeholder: "*Password"

              .submit-field
                = f.submit "Continue"

              .login-text
                Don't have an account?
                = link_to "Create an account",
                  new_user_registration_path
              .login-text
                = link_to "Forgot Password?"

