%nav.nav
  .nav__container
    %div{ class: "nav__content #{'-no-logged-in' if current_user.blank? }" }
      %div.nav__logo
        = link_to main_app.root_path,"aria-label" => "logo" do
          .logo
      - if !current_user.blank?
        - if current_page?(main_app.join_us_path)
          %div.nav__sign-out-button
            = link_to "Sign out",
            main_app.destroy_user_session_path
        - else
          %div.nav__right
            %a.nav__back-button.hide-desktop-up#mobile-nav-button{ role: "button", "aria-label": "nav-button" }
              .back-button#back-button
            .nav__page-title
              %p
                = @title
            = render "layouts/nav_links"
      - elsif %w(registrations).include?(controller_name)
        %p.nav__sign-out-text.text.-base.hide-flex-desktop-down
          Already have an account?&nbsp
          = link_to "Sign in",
            new_user_session_path,
            class: "text -link"
      - elsif %w(sessions).include?(controller_name)
        %p.nav__sign-out-text.text.-base.hide-flex-desktop-down
          Don't have an account?&nbsp
          = link_to "Sign up",
            new_user_registration_path,
            class: "text -link"
