%ul.nav__menu{class: [current_user.thumbnail.present? && "nav__menu--avatar-present"] }
  %li.nav__menu__item.hidden-mobile
    %a{ href: main_app.favorite_jobs_path,
      class: "#{'active-link' if current_page?(main_app.favorite_jobs_path)}" }
      Saved
  %li.nav__menu__item.hidden-mobile
    %a{ href: main_app.applied_fors_path,
      class: "#{'active-link' if current_page?(main_app.applied_fors_path)}" }
      Applied
  %li.nav__menu__item.hidden-mobile
    %a{ href: main_app.edit_user_registration_path,
      class: "#{'active-link' if current_page?(main_app.edit_user_registration_path)}" }
      Account
  %li.nav__menu__item
    .nav__menu__item__profile{class: [current_user.thumbnail.present? && "nav__menu__item__profile--exist"] }
      = image_tag current_user.thumbnail_url, alt: current_user.username, id:'userAvatar'

.nav__offcanvas#offcanvas
  %ul.nav__offcanvas__menu
    %li.nav__offcanvas__menu__item
      %a.close#closeMenu
        &times;
    %li.nav__offcanvas__menu__item
      %a{ href: main_app.favorite_jobs_path,
        class: "#{'active-link' if current_page?(main_app.favorite_jobs_path)}" }
        Saved
    %li.nav__offcanvas__menu__item
      %a{ href: main_app.applied_fors_path,
        class: "#{'active-link' if current_page?(main_app.applied_fors_path)}" }
        Applied
    %li.nav__offcanvas__menu__item
      %a{ href: main_app.edit_user_registration_path,
        class: "#{'active-link' if current_page?(main_app.edit_user_registration_path)}" }
        Account
