!!!
%html
  %head
    = render "application/head_shared_content"

    - if account_page? || create_listing_page? || edit_listing_page?
      = stylesheet_pack_tag "stylesheets/editor",
        "data-turbolinks-track": "reload",
        defer: true
      = javascript_pack_tag "javascript/editor",
        "data-turbolinks-track": "reload",
         defer: true
    - if subscription_page?
      = javascript_include_tag "unity/application", "data-turbolinks-track": "reload"


  %body
    - if employer_profile?
      = render "application/employer_preview_profile_header"
    - else
      = render "layouts/nav"
    - if current_user.blank?
      = render "application/flash_messages", type: :nav_message, classes: "-no-radius"

    %main
      = yield
