<!DOCTYPE html>
<html>

<head>
    <title>Skill Deploy</title>
    <%= csrf_meta_tags %>
    <% if user_signed_in? %>
    <meta content="<%= current_user.authentication_token %>" name="user-token" />
    <meta content="<%= current_user.email %>" name="user-email" />
    <% end %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" href="https://use.typekit.net/yke8vfo.css">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'javascript/polyfills', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'javascript/application', 'data-turbolinks-track': 'reload' %>

</head>


<body>
    <%= render "layouts/nav" %>
    <%= render "application/flash_messages" %>
    <main>
        <%= yield %>
    </main>
</body>

</html>