!!!
%html
  %head
    = render "application/head_shared_content"
    - if create_listing_page? || edit_listing_page?
      = stylesheet_pack_tag "stylesheets/editor",
        "data-turbolinks-track": "reload"

      = javascript_pack_tag "javascript/editor",
        "data-turbolinks-track": "reload",
         defer: true

  %body.bg-secondary
    = render "application/job_listing_header"
    %main
      = yield
